{% include 'navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<style>
  
.layout__boxes {
  width: 54%;
  min-height: 40rem;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

</style>
<body>
    

<main class="update-account layout">
  <div class="container">
    <div class="layout__boxes">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Edit your profile</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}


          <div class="form__action">
            <a class="btn btn--dark" href="">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>
</body>
</html>
{% endblock content %}